.project-single-menu a.active,
.project-single-menu a {
  color: #fff;
}

.fix-top {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
}

.figma-area {
  padding: 2% 6%;
  background-color: #feca87;
}

.figma-row {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.figma-item {
  flex: 1;
}

.figma-container {
  width: 100%;
  height: 100%;
}

.show-image {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6% 0;
  width: 100%;
  background-color: #feca87;
}

.show-image img {
  max-width: 1500px;
}

.hud-container {
  position: relative;
  max-width: 1600px;
  padding-bottom: 20px;
}

.hud-container img {
  width: 100%;
}

.element {
  position: absolute;
  z-index: 10;
}

.rotate {
  animation: rotate 2s infinite linear;
}

.hud-1 {
  left: 50px;
  top: 110px;

  width: 130px;
  height: 130px;
  background: url(../images/all/3/hud_1.png) no-repeat center center;
  background-size: cover;

  animation-delay: 1s;
  animation-duration: 3s;
}

.hud-2 {
  left: 48px;
  bottom: 5vh;

  width: 145px;
  height: 145px;
  background: url(../images/all/3/hud_2.png) no-repeat center center;
  background-size: cover;

  animation-delay: 2s;
  animation-duration: 20s;
}

.hud-3 {
  left: 198px;
  bottom: 129px;

  width: 92px;
  height: 92px;
  background: url(../images/all/3/hud_3.png) no-repeat center center;
  background-size: cover;

  animation-delay: 3s;
  animation-duration: 1.5s;
}

.hud-4 {
  left: 622px;
  bottom: 177px;

  width: 3.5vw;
  font-size: 1.7em;
  color: #eb8da8;
  text-align: center;
}

.hud-5 {
  left: 622px;
  bottom: 67px;

  width: 3.5vw;
  font-size: 1.7em;
  color: #eb8da8;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .hud-4 {
    left: 38.5vw;
    bottom: 11vw;

    width: 3.5vw;
    font-size: 1.7em;
    color: #eb8da8;
    text-align: center;
  }

  .hud-5 {
    left: 38.5vw;
    bottom: 8vh;

    width: 3.5vw;
    font-size: 1.7em;
    color: #eb8da8;
    text-align: center;
  }
}

/**
** animation
**/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-reverse {
  animation: rotate-reverse 10s infinite linear;
  animation-direction: alternate;
}

@keyframes rotate-reverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.flash {
  animation: flash 3s linear infinite;
  animation-duration: 5s;
}

@keyframes flash {
  0% {
    left: 198px;
    opacity: 0;
  }
  1% {
    left: 198px;
    opacity: 1;
  }
  2% {
    left: 198px;
    opacity: 0;
  }
  32% {
    left: 317px;
    bottom: 129px;
    opacity: 0;
  }
  33% {
    left: 317px;
    bottom: 129px;
    opacity: 1;
  }
  34% {
    left: 317px;
    bottom: 129px;
    opacity: 0;
  }
  65% {
    left: 258px;
    bottom: 24px;
    opacity: 0;
  }
  66% {
    left: 258px;
    bottom: 24px;
    opacity: 1;
  }
  67% {
    left: 258px;
    bottom: 24px;
    opacity: 0;
  }

  100% {
    left: 258px;
    bottom: 24px;
    opacity: 0;
  }
}
